.bg_gradient {
  height: 15rem;
  width: 100%;
  background-image: linear-gradient(180deg, #fbfbfb, #efefef);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  position: relative;
  justify-content: flex-end;
}
.anchor {
  display: block;
  & > p, & span {
    color: inherit !important;
  }
}
