.indent {
  min-height: 4.6rem;
  @include sm {
    min-height: 5.5rem;
  }
}

.container {
  position: fixed;
  top: 0;
  width: 100%;
  padding-block: var(--mantine-spacing-sm);
  background-color: white;
  z-index: 10;
}

.logo {
  height: 3rem;
  aspect-ratio: 1.24 / 1;
  @include sm {
    height: 4rem;
  }
  background-image: url('/images/logo-arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
}