.indent {
  min-height: 4.6rem;
  @include sm {
    min-height: 5.5rem;
  }
}

.container {
  position: fixed;
  top: 0;
  width: 100%;
  padding-block: var(--mantine-spacing-sm);
  background-color: white;
  z-index: 10;
}
