$header-height: 4rem;

.header {
  height: $header-height;
}
.body {
  height: calc(100vh - $header-height);
}
.footer {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #474747;
  .links {
    border: none;
  }
}
