.title {
  //position: absolute;
  //padding-inline: 0.3rem 0.15rem;
  // bottom: 2rem;
  // left: 2rem;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: larger;
  text-transform: uppercase;
  background-color: var(--mantine-color-primary);
  color: white;
  z-index: 4;
}
