.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  &:hover .bg_image {
    transform: scale(1.5);
    z-index: 3;
  }

  background-image: none;
  background-color: #dddddd;
  @include sm() {
    background-image: linear-gradient(180deg, #dddddd, #efefef);
  }
}
.bg_image {
  z-index: 0;

  transition: transform 10s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(1);
}
.title {
  position: absolute;
  padding-inline: 0.3rem 0.15rem;
  bottom: 2rem;
  left: 2rem;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: larger;
  text-transform: uppercase;
  background-color: var(--mantine-color-primary);
  color: white;
  z-index: 4;
}
.cat_icon {
  position: absolute;
  right: 3px;
  top: 6px;
  z-index: 10;
}
