.grid {
  @include sm() {
    & > div {
      border-right: 1px solid var(--mantine-color-dark-1);
    }
    & > div:nth-child(2n) {
      border-right: none;
    }
  }
}

.description {
  margin-bottom: 1.6rem;
}

.brand {
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  width: fit-content;
  text-transform: capitalize;
  color: var(--mantine-color-dark-4);
}