@mixin bttn() {
  width: 1.5rem;
  transition: color 0.3s ease-in-out;
  color: var(--mantine-color-dark-4);
}

.smallButton {
  @include bttn();
  &:hover {
    color: var(--mantine-color-red-9);
  }
}

.mailButton {
  @include bttn();
  &:hover {
    color: var(--mantine-color-blue-9);
  }
}