.video {
  margin-top: 5rem;
  width: 100%;
  height: 80vw;
  object-fit: cover;
  object-position: 30% 56%; 

  @include xs() {
    margin-top: 3rem;
    object-position: 100% 56%; 
    height: 180px;
  }
}