.paragraph {
  margin-bottom: 1rem;
  text-indent: 2rem;
  text-align: left;
}
.bookTitle {
  font-style: italic;
  font-weight: 500;
  &::before {
    content: '«';
  }
  &::after {
    content: '»';
  }
}