.paragraph {
  margin-bottom: 1rem;
  text-indent: 2rem;
  text-align: left;
}

.bookTitle {
  font-style: italic;
  font-weight: 500;
}

.leoImage {
  float: left;
  object-fit: contain;
}

.subheader {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}
