.input {
  font-size: 1rem;
  border-radius: 4px 0 0 4px;
  border-right: none;
}
.inputRoot {
  flex-grow: 1;
  overflow: hidden;
}
.searchButton {
  border-radius: 0 4px 4px 0;
  background-color: var(--mantine-color-primary);
  &:hover {
    background-color: #695c51;
  }
}