@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mantine-color-primary: #473e36;
}

html,
body {
  font-family: var(--mantine-font-family);
}

/* Keyframes for heading image animations */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes scaleDown {
  0% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

@keyframes slideUp {
  0% { transform: translateY(100px); }
  100% { transform: translateY(0); }
}

@keyframes fadeInContent {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
