@reference "../../../../../globals.css";

/* This file contains the styles necessary for Swiper Pagination */
.swiper {
  width: 100%;
  height: 40rem;
  margin-bottom: 3rem;
  position: relative;
  overflow: visible;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.swiper-pagination-bullet {
  @apply bg-input h-5 w-5 translate-y-[150%] text-xs leading-normal opacity-100 shadow-[0_0_1px_.5px_hsl(var(--muted-foreground))];
}

.swiper-pagination-bullet-active {
  @apply bg-foreground text-background;
}

/* Remove left and right spacing at swiper buttons */
.swiper-button-prev {
  @apply left-0;
}

.swiper-button-next {
  @apply right-0;
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-primary;
}
