.page {
  padding-block: 2rem;
}
.paragraph {
  text-indent: 2rem;
  text-align: justify;
  @include sm() {
    text-align: left;
  }
}
.header {
  &:not(:first-child) {
    margin-top: 3rem;
  }
  margin-bottom: 1rem;
  font-size: large;
  font-weight: 600;
  @include sm() {
    font-size: x-large;
  }
}
.figure {
  float: left;
  width: 100%;
  margin-bottom: 1rem;
  @include sm() {
    width: unset;
    margin-right: 1rem;
    margin-bottom: unset;
  }
  img {
    object-fit: contain;
  }
}
.title {
  margin-bottom: var(--mantine-spacing-lg);
  font-size: 30px;
  @include sm() {
    font-size: 35px;
  }
}
