.container {
  position: relative;
  max-width: calc(var(--container-size-xl) - 2rem);
  height: 50vh;
  @include xs {
    height: 10rem;
  }
  overflow: hidden;
}
.bg {
  object-fit: cover;
  object-position: right 55% bottom 50%;
  z-index: 1;

  animation:
    fadeIn 1s ease-in-out,
    scaleDown 2s ease-out;
}
.content {
  height: 100%;
  align-items: flex-end;
  position: absolute;
  z-index: 2;

  animation:
    slideUp 1.8s ease-out,
    fadeInContent 1.8s ease-out;

  @include sm {
    align-items: center;
  }

  .title {
    margin-left: 1rem;
    margin-bottom: 3rem;
    color: white;
    letter-spacing: 0.2rem;
    line-height: 120%;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    @include sm {
      margin-left: 5rem;
      margin-bottom: 0;
    }
  }
}

// Background animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

// Heading animation
@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
