.container {
  /* Remove gray border bottom from buttons list */
  .list::before {
    content: none;
  }
  /* Change tabs underline width */
  .tab {
    border-bottom-width: 1px;
  }
  /* Change tabs underline color */
  .tab[data-active] {
    border-bottom-color: rgb(124, 124, 124);
  }
}
