.container {
  /* Remove gray border bottom from buttons list */
  .list::before {
    content: none;
  }
  /* Change tabs underline width */
  .tab-dark,
  .tab-light {
    border-bottom-width: 1px;
  }
  /* Change tabs underline color */
  .tab-light[data-active] {
    border-bottom-color: black;
  }
  .tab-dark[data-active] {
    border-bottom-color: white;
  }
}
